
h1 { 
    text-align: center;
}

/* テーブル全体 */
table {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}

/* <td>全体 */
td {
    padding: 0px 10px;
}

/* 上部インデックス１～２行目 */
td.index_left1 {
    text-align: center;
}

/* 上部インデックス３～４行目 */
td.index_left2 {
    text-align: right;
}

/* 左行（背景色あり） */
td.left {
    background-color: #D9E1F2;
    text-align: right;
}